Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  
  # Specific checks you mentioned
  cppcoreguidelines-pro-type-cstyle-cast,  # Warn on C-style casts
  cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-no-malloc,

WarningsAsErrors: >
  cppcoreguidelines-pro-type-cstyle-cast,
  
CheckOptions:
  - key: cppcoreguidelines-pro-type-cstyle-cast.IgnoreOtherNonConst
    value: false
