Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-uppercase-literal-suffix,  
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-no-malloc,

WarningsAsErrors: >
  cppcoreguidelines-pro-type-cstyle-cast,
  
CheckOptions:
  - key: cppcoreguidelines-pro-type-cstyle-cast.IgnoreOtherNonConst
    value: false
